.goods-box {
  width: 1200px;
  height: 660px;
}
.goods-left {
  width: 500px;
  height: 615px;
  /* background-color: blanchedalmond; */
}
.big-img-box {
  width: 100%;
  /* height: 512px; */
  height: 100%;
  /* background-color: lightblue; */
}
/* .goods-img-box {
  width: 100%;
  height: calc(100% - 532px);
  margin-top: 20px;
  background-color: lightpink;
  overflow: hidden;
} */
/* .small-img-box {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
} */
/* .small-img-item {
  width: 73px;
  height: 73px;
  margin-top: 10px;
  margin-right: 20px;
  background-color: #fff;
  display: inline-block;
} */
.goods-right {
  width: calc(100% - 550px);
  height: 615px;
  /* background-color: darksalmon; */
  position: relative;
}
.price-box-de {
  width: 100%;
  /* min-height: 110px; */
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #f6f6fa;
}
.price-title {
  margin-top: 10px;
}
.details-item {
  line-height: 32px;
}
.details-item-left {
  min-width: 70px;
}
.right-box1 {
  color: #a30202;
  width: 110px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #a30202;
}
.el-input__inner {
  /* height: 32px !important; */
}
.el-input-number {
  /* line-height: 32px; */
}
.el-input-number__decrease,
.el-input-number__increase {
  /* height: 30px !important; */
  background-color: #fff;
}
.buy-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.add-cart-box {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ff8304;
  border: 1px solid #ff8304;
  border-radius: 2px;
  background: #ffdfbd;
}
.buy-first {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ff8304;
  background: #ff8304;
  color: #fff;
  font-size: 14px;
  margin-left: 20px !important;
}
.detail-headline {
  width: 100%;
  /* height: 37px; */
  /* border-bottom: 1px solid #eaeaee; */
}
.de-head-text {
  width: 166px;
  height: 34px;
  color: #a30202;
  border-bottom: 3px solid #a30202;
}
.de-item-box {
  /* width: 100%; */
  height: auto;
  padding: 25px 20px;
  border-top: 1px solid #eaeaee;
}
