* {
  padding: 0;
  margin: 0;
}
a {
  text-decoraction: none !important;
  color: #ffffff;
}
router-link {
  text-decoraction: none;
}
.pointer {
  cursor: pointer;
}
.router-link-active {
  text-decoration: none;
  color: #ffffff;
}
.full-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  /* background-color: aquamarine; */
}
.content-home {
  width: 1500px;
  height: auto;
  margin: 0 auto;
  /* background-color: darksalmon; */
}
.content980 {
  width: 980px;
  margin: 0 auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  border: none;
}
input {
  background: none;
  outline: none;
  /* border: ; */
}
.hidden {
  overflow: hidden;
}
.header-bgc {
  background-color: #202020;
}
/* input:focus {
  border: none;
} */
/* ================================字体颜色 */
.main-color {
  color: #333;
}
.tips-color {
  color: #8e8e92;
}
.gray-font-color {
  color: #2c3e50;
}
.fff-font {
  color: #fff;
}
.main-red {
  color: #a30202;
}
.price-color {
  color: #ff8400;
}
.price-main {
  color: #ff5446;
}
.primary-color {
  color: #409eff;
}
.myActiveColor {
  color: #ff8400;
}
.yellow-color {
  color: #ffc17f;
}
.f666 {
  color: #666;
}
.f999 {
  color: #999;
}
.deep-blue {
  color: #2168ba;
}
/* =============================按钮 */
.primary-btn {
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
  background-color: #2970c1;
}
.border-btn {
  padding: 12px 20px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
/* =================================背景颜色 */

.bgc-blue {
  background-color: #409eff;
}
/* ================================字体大小 */
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: 12px;
}
.font13 {
  font-size: 13px;
}
.font14 {
  font-size: 14px;
}
.font15 {
  font-size: 15px;
}
.font16 {
  font-size: 16px;
}
.font17 {
  font-size: 17px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.font28 {
  font-size: 28px;
}
.font48 {
  font-size: 48px;
}
.bold-font {
  font-weight: bold;
}
.bold600 {
  font-weight: 600;
}
/* ==================================布局 */
.flex {
  display: flex;
}
.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-a {
  display: flex;
  justify-content: space-around;
}
.flex-b {
  display: flex;
  justify-content: space-between;
}
.flex-s {
  justify-content: flex-start;
}
.flex-e {
  justify-content: flex-end;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.box100 {
  width: 100%;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* ===================================间距 */
.m-l-10 {
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-l-129 {
  margin-left: 129px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.p-l-10{
  padding-left: 10px;
}

.p-t-10 {
  padding-top: 10px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-b-80 {
  padding-bottom: 80px;
}
